/* noto-sans-kr-100 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('noto-sans-kr-v21-korean-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('noto-sans-kr-v21-korean-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr-v21-korean-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr-v21-korean-100.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr-v21-korean-100.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* noto-sans-kr-300 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('noto-sans-kr-v21-korean-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('noto-sans-kr-v21-korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr-v21-korean-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr-v21-korean-300.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr-v21-korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* noto-sans-kr-regular - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('noto-sans-kr-v21-korean-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('noto-sans-kr-v21-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr-v21-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr-v21-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr-v21-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('noto-sans-kr-v21-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-500 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('noto-sans-kr-v21-korean-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('noto-sans-kr-v21-korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr-v21-korean-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr-v21-korean-500.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr-v21-korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* noto-sans-kr-700 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('noto-sans-kr-v21-korean-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('noto-sans-kr-v21-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr-v21-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr-v21-korean-700.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr-v21-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* noto-sans-kr-900 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('noto-sans-kr-v21-korean-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('noto-sans-kr-v21-korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr-v21-korean-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr-v21-korean-900.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr-v21-korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
}


/* vision-100 */
@font-face {
  font-family: 'Vision';
  font-style: normal;
  font-weight: 100;
  src: url('Vision-Thin.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Vision-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Vision-Thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('Vision-Thin.woff') format('woff'), /* Modern Browsers */
}

/* vision-300 */
@font-face {
  font-family: 'Vision';
  font-style: normal;
  font-weight: 300;
  src: url('Vision-Light.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Vision-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Vision-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('Vision-Light.woff') format('woff'), /* Modern Browsers */
}

/* vision-regular */
@font-face {
  font-family: 'Vision';
  font-style: 400;
  font-weight: regular;
  src: url('Vision-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Vision-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Vision-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Vision-Regular.woff') format('woff'), /* Modern Browsers */
}

/* vision-500 */
@font-face {
  font-family: 'Vision';
  font-style: normal;
  font-weight: 500;
  src: url('Vision-Bold.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Vision-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Vision-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('Vision-Bold.woff') format('woff'), /* Modern Browsers */
}

/* vision-700 */
@font-face {
  font-family: 'Vision';
  font-style: normal;
  font-weight: 700;
  src: url('Vision-Heavy.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Vision-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Vision-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
       url('Vision-Heavy.woff') format('woff'), /* Modern Browsers */
}

/* vision-900 */
@font-face {
  font-family: 'Vision';
  font-style: normal;
  font-weight: 900;
  src: url('Vision-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Vision-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Vision-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('Vision-Black.woff') format('woff'), /* Modern Browsers */
}


/* Montserrat-100 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('Montserrat-VariableFont_wght.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('Montserrat-VariableFont_wght.ttf') format('truetype'),
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('Montserrat-VariableFont_wght.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('Montserrat-VariableFont_wght.ttf') format('truetype'),
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('Montserrat-VariableFont_wght.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('Montserrat-VariableFont_wght.ttf') format('truetype'),
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('Montserrat-VariableFont_wght.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('Montserrat-VariableFont_wght.ttf') format('truetype'),
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('Montserrat-VariableFont_wght.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('Montserrat-VariableFont_wght.ttf') format('truetype'),
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('Montserrat-VariableFont_wght.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('Montserrat-VariableFont_wght.ttf') format('truetype'),
}





















