<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport" />
        <title>koreaMap</title>
        <link th:href="@{/css/korea.css}" rel="stylesheet">
    </head>
    <script type="text/javascript" th:src="@{/js/d3.js}"></script>
    <script type="text/javascript" th:src="@{/js/korea.js}"></script>
    <body>
        <div id="container"></div>
    </body>
</html>
